@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #fff;
    line-height: 1;
    font-family: 'Pretendard-Regular';
}

.main {
    width: 1920px;
    height: 760px;
    margin: 0 auto;
    position: relative;
}
.main .swiper {
    width: 1920px;
    height: 760px;
}
.swiper-slide {
    width: 1920px;
    height: 760px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header */
.hd_1 {
    width: 1920px;
    height: 120px;
    margin: 0 auto;
    background-color: rgba(0, 0 ,0 ,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.hd_1 .inner {
    width: 1244px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hd_1 .inner h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.hd_1 .inner .m_left {
    text-align: center;
    line-height: 20px;
}
.hd_1 .inner .m_left img {
    position: absolute;
    top: 50%;
    left: 61px;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.hd_1 .inner .m_left > ul > li {
    display: inline-block;
    width: 122px;
}
.hd_1 .inner .m_left > ul > li > a {
    font-size: 20px;
    line-height: 120px;
}
.hd_1 .inner .m_left > ul > li:hover {
    background-color: rgba(194, 24, 44, 0.4);
}
.hd_1 .inner .m_left > ul > li:hover .sub {
    display: block;
}
.hd_1 .inner .m_left .sub {
    width: 122px;
    padding: 24px 0 0;
    background-color: rgba(194, 24, 44, 0.9);
    position: absolute;
    top: 120px;
    display: none;
    box-shadow: 10px 10px 20px #333;
}
.hd_1 .inner .m_left .sub li {
    margin-bottom: 24px;
}
.hd_1 .inner .m_left .sub li:hover {
    color: #f6b22a;
}
.hd_1 .inner .m_right {
    text-align: center;
    line-height: 20px;
}
.hd_1 .inner .m_right > ul > li {
    display: inline-block;
    width: 122px;
}
.hd_1 .inner .m_right > ul > li > a {
    font-size: 20px;
    line-height: 120px;
}
.hd_1 .inner .m_right .ticket > a {
    color: #f6b22a;
}
.hd_1 .inner .m_right > ul > li:hover {
    background-color: rgba(194, 24, 44, 0.4);
}
.hd_1 .inner .m_right > ul > li:hover .sub {
    display: block;
}
.hd_1 .inner .m_right .sub {
    width: 122px;
    padding: 24px 0 0;
    background-color: rgba(194, 24, 44, 0.9);
    position: absolute;
    top: 120px;
    display: none;
    box-shadow: 5px 5px 10px #333;
}
.hd_1 .inner .m_right .sub li {
    margin-bottom: 24px;
}
.hd_1 .inner .m_right .sub li:hover {
    color: #f6b22a;
}

/* header_2 */
.hd_2 {
    width: 1920px;
    height: 120px;
    margin: 0 auto;
    background-color: rgba(0, 0 ,0 ,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.hd_2 .inner {
    width: 1244px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hd_2 .inner::before {
    content: '';
    width: 1920px;
    height: 360px;
    background-color: rgba(0, 0 ,0 ,0.7);
    position: absolute;
    top: 120px;
    left: -338px;
}
.hd_2 .inner h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.hd_2 .inner .m_left {
    text-align: center;
    line-height: 20px;
}
.hd_2 .inner .m_left img {
    position: absolute;
    top: 50%;
    left: 61px;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.hd_2 .inner .m_left > ul > li {
    display: inline-block;
    width: 122px;
}
.hd_2 .inner .m_left > ul > li > a {
    font-size: 20px;
    line-height: 120px;
}
.hd_2 .inner .m_left > ul > li:hover {
    background-color: rgba(246, 178, 42, 0.4);
}
.hd_2 .inner .m_left > ul > li:hover .sub {
    display: block;
}
.hd_2 .inner .m_left .sub {
    width: 122px;
    padding: 24px 0 0;
    /* background-color: #c2182d; */
    position: absolute;
    top: 120px;
    /* display: none; */
    /* box-shadow: 5px 5px 10px #333; */
}
.hd_2 .inner .m_left .sub li {
    margin-bottom: 24px;
    color: #fff;
}
.hd_2 .inner .m_left .sub li:hover {
    color: #f6b22a;
}
.hd_2 .inner .m_right {
    text-align: center;
    line-height: 20px;
}
.hd_2 .inner .m_right > ul > li {
    display: inline-block;
    width: 122px;
}
.hd_2 .inner .m_right > ul > li > a {
    font-size: 20px;
    line-height: 120px;
}
.hd_2 .inner .m_right .ticket > a {
    color: #f6b22a;
}
.hd_2 .inner .m_right > ul > li:hover {
    background-color: rgba(246, 178, 42, 0.4);
}
.hd_2 .inner .m_right > ul > li:hover .sub {
    display: block;
}
.hd_2 .inner .m_right .sub {
    width: 122px;
    padding: 24px 0 0;
    /* background-color: #c2182d; */
    position: absolute;
    top: 120px;
    /* display: none; */
    /* box-shadow: 5px 5px 10px #333; */
}
.hd_2 .inner .m_right .sub li {
    margin-bottom: 24px;
    color: #fff;
}
.hd_2 .inner .m_right .sub li:hover {
    color: #f6b22a;
}

/* header_2 */


/* .banner_bt */
.banner_bt {
    width: 1920px;
    height: 80px;
    margin: 0 auto;
    background-color: rgba(0, 0 ,0 ,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.banner_bt .inner {
    width: 1196px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.banner_bt .inner ul {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.banner_bt .inner li {
    width: 98px;
    margin-right: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
}

.banner_bt .inner li img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.banner_bt .inner > div img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    right: 78px;
    transform: translateY(-50%);
}

/* .cont01 */
.cont01 {
    width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
}
.cont01 .inner {
    width: 1196px;
    height: 505px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.cont01 .inner h3 {
    color: #333;
    font-size: 20px;
}
.cont01 .inner .game {
    width: 342px;
}
.cont01 .inner .game .txt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .game_1 */
.cont01 .inner .game .game_1 {
    width: 342px;
    height: 150px;
    background-color: rgba(0, 0 ,0 ,0.8);
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.cont01 .inner .game .game_1 .team_1 {
    width: 122px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cont01 .inner .game .game_1 .team_1 img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.cont01 .inner .game .game_1 .txt {
    width: 98px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.cont01 .inner .game .game_1 .txt p {
    font-size: 14px;
    margin-bottom: 14px;
}
.cont01 .inner .game .game_1 .txt h3 {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 14px;
}
.cont01 .inner .game .game_1 .txt span {
    font-size: 14px;
}

.cont01 .inner .game .game_1 .team_2 {
    width: 122px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cont01 .inner .game .game_1 .team_2 img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}
/* .game_1 end */

.cont01 .inner .game .game_2 {
    width: 342px;
    height: 150px;
    background-color: rgba(0, 0 ,0 ,0.8);
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}
.cont01 .inner .game .game_2 .team_1 {
    width: 122px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cont01 .inner .game .game_2 .team_1 img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.cont01 .inner .game .game_2 .txt {
    width: 98px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.cont01 .inner .game .game_2 .txt p {
    font-size: 14px;
    margin-bottom: 14px;
}
.cont01 .inner .game .game_2 .txt h3 {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 14px;
}
.cont01 .inner .game .game_2 .txt span {
    font-size: 14px;
}

.cont01 .inner .game .game_2 .team_2 {
    width: 122px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cont01 .inner .game .game_2 .team_2 img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}
/* game_2 end */


.cont01 .inner .game .game_3 {
    width: 342px;
    height: 150px;
    background-color: rgba(0, 0 ,0 ,0.8);
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}
.cont01 .inner .game .game_3 .team_1 {
    width: 122px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cont01 .inner .game .game_3 .team_1 img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.cont01 .inner .game .game_3 .txt {
    width: 98px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.cont01 .inner .game .game_3 .txt p {
    font-size: 14px;
    margin-bottom: 14px;
}
.cont01 .inner .game .game_3 .txt h3 {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 14px;
}
.cont01 .inner .game .game_3 .txt span {
    font-size: 14px;
}

.cont01 .inner .game .game_3 .team_2 {
    width: 122px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cont01 .inner .game .game_3 .team_2 img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}
/* game_3 end */


.cont01 .inner .news {
    width: 464px;
}
.cont01 .inner .news .txt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cont01 .inner .news .txt h3 {
    display: inline-block;
    font-size: 20px;
}
.cont01 .inner .news .txt p {
    display: inline-block;
    color: #c2182d;
    font-size: 20px;
}
.cont01 .inner .news .items {
    height: 464px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    
}
.cont01 .inner .news .items img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    transition: 0.4s;
    border: 1px solid #777;
}
.cont01 .inner .news .items img:hover {
    box-shadow: 10px 10px 20px #333;
}
.cont01 .inner .landers {
    width: 342px;
    margin-top: 40px;
}
.cont01 .inner .landers .box_1 {
    width: 342px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 7px;
}
.cont01 .inner .landers .box_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.05;
}
.cont01 .inner .landers .box_2 {
    width: 342px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}
.cont01 .inner .landers .box_2 a {
    width: 165px;
    height: 150px;
    overflow: hidden;

}

.cont01 .inner .landers .box_2 img {
    width: 165px;
    height: 150px;
    object-fit: cover;
    scale: 1.1;
}
.cont01 .inner .landers .box_3 {
    width: 342px;
    height: 150px;
    overflow: hidden;
}
.cont01 .inner .landers .box_3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.05;
}

/* side */
.side {
    width: 120px;
    height: 360px;
    background-color: rgba(51, 51, 51, 0.6);
    border-radius: 20px;
    position: fixed;
    bottom: 80px;
    right: 80px;
    z-index: 2;
}
.side .inner {
    width: 100px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.side .inner img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* pop_up */
.pop_up {
    width: 440px;
    height: 700px;
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 2;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #777;
}
.pop_up .inner {
    width: 400px;
    height: 640px;
    margin: 20px 20px 0;
    box-sizing: border-box;
}
.pop_up .inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pop_up .btn {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 20px 10px;
    display: flex;
    justify-content: space-between;
}
.pop_up .btn input {
    width: 15px;
    height: 15px;
}
.pop_up .btn p {
    font-size: 14px;
    color: #777;
    display: inline-block;
}
.pop_up .btn button {
    width: 16px;
    height: 16px;
    color: #777;
}

/* cont02 */

.cont02 {
    width: 1920px;
    margin: 0 auto;
    margin-top: 80px;
    height: 360px;
}
.cont02 .players {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    transition: 0.4s;
}
.cont02 .players:hover {
    box-shadow: 10px 10px 20px #333;
}
.cont02 .players img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #777;
}
.cont02 .players p {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 140px;
}

.cont03 {
    width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 120px;
}
.cont03 .inner {
    width: 1196px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.cont03 .inner .story {
    width: 708px;
}
.cont03 .inner .story .txt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cont03 .inner .story .txt h3 {
    display: inline-block;
    color: #333;
    font-size: 20px;
}
.cont03 .inner .story .txt p {
    display: inline-block;
    color: #c2182d;
    font-size: 20px;
}
.cont03 .inner .story .items {
    width: 100%;
    height: 384px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.cont03 .inner .story .items iframe {
    width: 342px;
    height: 180px;
    transition: 0.4s;
    border: 1px solid #777;
}
.cont03 .inner .story .items iframe:hover {
    box-shadow: 10px 10px 20px #333;
}
.cont03 .inner .photo {
    width: 464px;
}
.cont03 .inner .photo .txt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cont03 .inner .photo .txt h3 {
    display: inline-block;
    color: #333;
    font-size: 20px;
}
.cont03 .inner .photo .txt p {
    display: inline-block;
    color: #c2182d;
    font-size: 20px;
}
.cont03 .inner .photo .items {
    height: 384px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.cont03 .inner .photo .items img {
    width: 220px;
    height: 180px;
    object-fit: cover;
    transition: 0.4s;
    border: 1px solid #777;
}
.cont03 .inner .photo .items img:hover {
    box-shadow: 10px 10px 20px #333;
}

.sponsor {
    width: 1920px;
    margin: 0 auto;
    height: 100px;
    border-top: 1px solid #777;
}
.sponsor .inner {
    width: 1440px;
    margin: 0 auto;
    height: 100px;
}
.sponsor .inner .swiper .swiper-slide {
    width: 1440px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.sponsor .inner .swiper .swiper-slide div {
    width: 180px;
    height: 72px;
}
.sponsor .inner .swiper .swiper-slide div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

footer {
    width: 1920px;
    height: 240px;
    margin: 0 auto;
    background-color: #333;
    color: #777;
}
footer .inner {
    width: 1196px;
    height: 200px;
    margin: 0 auto;
    padding-top: 40px;
}
footer .inner .box {
    width: 386px;
    height: 51px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
footer .inner .box h2 {
    width: 148px;
    height: 51px;
}
footer .inner .box h2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .inner .box div {
    width: 166px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}
footer .inner .box div img {
    width: 42px;
    height: 100%;
    object-fit: cover;
}

footer .inner .txt_1 {
    margin-top: 20px;
}
footer .inner .txt_1 li {
    display: inline-block;
    font-size: 14px;
}
footer .inner .txt_1 li:nth-child(1) ::after {
    content: '';
    width: 2px;
    height: 14px;
    background-color: #777;
    margin: 0 30px;
    display: inline-block;
}
footer .inner .txt_1 li:nth-child(2) ::after {
    content: '';
    width: 2px;
    height: 14px;
    background-color: #777;
    margin: 0 30px;
    display: inline-block;
}

footer .inner .txt_2 {
    margin-top: 20px;
}
footer .inner .txt_2 p {
    font-size: 13px;
    line-height: 1.4;
}
